@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <iabel> User Name: <input type="username" name="UserName" /> </iabel>
    <iabel> Email: <input type="email" name="Email" /> </iabel>
    <iabel> Password: <input type="password" name="Password" /> </iabel>
</form>